<!DOCTYPE html>
<html>

<head>
    <style>
        h5 {
            border-radius: 25px;
            border: 2px solid #FFFFFF;
            padding: 20px;
            width: 240px;
            height: 440px;
            margin: 10px;
        }
    </style>
</head>

<body>
    <!-- <a [routerLink]="['/testing']">testing</a> -->

    <div style="margin: 250px">
        <div class="px-4 pt-5 my-5 text-center">

            <!-- title of the page -->
            <h1 class="display-4 fw-bold">Edu Match</h1>
            <div class="col-lg-6 mx-auto">

                <!-- information  -->
                <p class="lead mb-4">Select topics</p>

                <div>
                <p *ngFor="let item of matched_tutors; let i = index">{{i}} {{ item.name }}</p>
                </div>

                <!-- drop down buttons, each div is a different button -->
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5" style="display:flex">
                    <div style="position:relative; left:-250px; top:2px;">
                        <div class="row">
                            <div class="col">
                                <div ngbDropdown class="d-inline-block">
                                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1"
                                        ngbDropdownToggle>Science</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem [routerLink]="['/testing']">Biology</button>
                                        <button ngbDropdownItem [routerLink]="['/people']">Physics</button>
                                        <button ngbDropdownItem>Chemistry</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="position:relative; left:-95px; top:2px;">
                        <div class="row">
                            <div class="col">
                                <div ngbDropdown class="d-inline-block">
                                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1"
                                        ngbDropdownToggle>Technology</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem>Computer Science</button>
                                        <button ngbDropdownItem>Digital Modeling</button>
                                        <button ngbDropdownItem>Machine Learning</button>
                                        <button ngbDropdownItem>Game Development</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="position:relative; left:95px; top:2px;">
                        <div class="row">
                            <div class="col">
                                <div ngbDropdown class="d-inline-block">
                                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1"
                                        ngbDropdownToggle>Engineering</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem>Robotics</button>
                                        <button ngbDropdownItem>Electronics</button>
                                        <button ngbDropdownItem>Mechanical</button>
                                        <button ngbDropdownItem>Civil</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="position:relative; left:250px; top:2px;">
                        <div class="row">
                            <div class="col">
                                <div ngbDropdown class="d-inline-block">
                                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1"
                                        ngbDropdownToggle>Math</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem>Algebra</button>
                                        <button ngbDropdownItem>Geometry</button>
                                        <button ngbDropdownItem>Calculus</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- the start of the dark info section -->
    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">Our Engineers</h1>

            <!-- start of engineer bins -->
            <div class="col-lg-6 mx-auto" style="display:flex">
                <div style="position:relative; left:-300px; top:2px;">
                    <h5 class="text-white">
                        <p class="lead">Lauren</p>
                        <img src="assets/lauren.png" class="rounded" alt="Lauren Headshot"
                            style="width:150px;height:150px;">
                        <p class="lead">4th year Computer Science major at the Illinois Institute of Technology</p>
                    </h5>
                </div>

                <div style="position:relative; left:-220px; top:2px;">
                    <h5 class="text-white">
                        <p class="lead">Adrianna</p>
                        <img src="assets/adri.JPEG" class="rounded" alt="Adrianna Headshot"
                            style="width:150px;height:150px;">
                        <p class="lead">Second year computer science major at seattle university. In my free time I love
                            crocheting and being creative</p>
                    </h5>
                </div>

                <div style="position:relative; left:-120px; top:2px;">
                    <h5 class="text-white">
                        <p class="lead">Camila</p>
                        <img src="assets/Camila.JPG" class="rounded" alt="Camila Headshot"
                            style="width:150px;height:150px;">
                        <p class="lead">I am a computer science major at the University of Central Florida. I have a
                            passion for all things creative</p>
                    </h5>
                </div>

                <div style="position:relative; left:-45px; top:2px;">
                    <h5 class="text-white">
                        <p class="lead">Doreen</p>
                        <img src="assets/doreen.jpg" class="rounded" alt="Doreen Headshot"
                            style="width:150px;height:150px;">
                        <p class="lead">Doreen is a junior at Carnegie Mellon University studying Electrical and
                            Computer Engineering. In her free time, she likes to watch science fiction movies.</p>
                    </h5>
                </div>

            </div>
        </div>
    </div>

    <!-- <router-outlet></router-outlet> -->
</body>

</html>